@CHARSET "UTF-8";
* {
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0;}
html {
    font-size: 53.33px !important; 
}
@media only screen and (min-width: 1024px){
    html {
        font-size: 53.33px !important; 
    }
}
@media only screen and (min-width: 1280px){
    html {
        font-size: 66.67px !important; 
    }
}
@media only screen and (min-width: 1366px){
    html {
        font-size: 71.15px !important; 
    }
}
@media only screen and (min-width: 1440px){
    html {
        font-size: 75px !important; 
    }
}
@media only screen and (min-width: 1600px){
    html {
        font-size: 83.33px !important; 
    }
}
@media only screen and (min-width: 1680px){
    html {
        font-size: 87.5px !important; 
    }
}
@media only screen and (min-width: 1920px){
    html {
        font-size: 100px !important; 
    }
}

body {
    font-size: 14px;
}

a,a:hover,a:active,a:visited {
    text-decoration: none;
}

/*加载等待*/
#c_loading {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    padding-top: 20px;
    z-index: 2010;
    text-align: center;
    opacity: .75;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    background: #000;
}

#c_loading img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

#c_loading.no_msg {
    padding-top: 30px;
}

#c_loading .msg {
    padding-top: 8px;
    color: #fff;
}

#c_loading_bg {
    opacity: .6;
    z-index: 1992;
}

#c_alert_tip {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -30px;
    width: 150px;
    height: 60px;
    line-height: 18px;
    padding: 0 5px;
    text-align: center;
    background-color: #000;
    opacity: .75;
    color: #fff;
    overflow: hidden;
    vertical-align: middle;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    z-index: 2010;
}

#c_alert_tip table, #c_alert_tip table td {
    width: 100%;
    height: 100%;
}

#c_alert_tip_bg {
    opacity: .1;
    z-index: 2000;
}

/*页面公共样式*/
.c_hide {
    display: none;
}
.c_no_data {
    padding: 50px 20px;
    background: #fff;
    text-align: center;
    font-size: 14px;
}

.control-label i {
    color: #f00;
    font-style: normal;
}

/*master-头部*/
#header {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
#header a {
    color: #fff;
}
#header .top_bar {
    height: 1.12rem;
    background: #b81c22;
}
#header .top_bar .open {
    width: 0.52rem;
    height: 1.12rem;
    margin-left: 0.42rem;
    float: left;
    background: url(/img/ico1.png) no-repeat left center;
    background-size: 0.52rem 0.52rem;
    cursor: pointer;
}
#header .top_bar .curr_page {
    padding-left: 0.52rem;
    height: 1.12rem;
    line-height: 1.12rem;
    background: url(/img/ico2.png) no-repeat 10px center;
    background-size: 0.24rem 0.24rem;
    float: left;
    font-size: 0.29rem;
}
#header .top_bar .logo {
    height: 1.12rem;
    line-height: 1.12rem;
    float: right;
    padding-right: 0.6rem;
    font-size: 0.29rem;
}
#header .top_bar:after {
    content: ' ';
    display: table;
    clear: both;
}
#header .nav_bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    padding-top: 1.55rem;
    background: #000;
    transition: height .5s;
    -moz-transition: height .5s;
    -webkit-transition: height .5s;
    -o-transition: height .5s;
    display: none;
}
#header .nav_bar_show {
    display: block;
    height: 10.8rem;
}
#header .nav_bar .close {
    position: absolute;
    top: 0.6rem;
    left: 0.6rem;
    width: 0.42rem;
    height: 0.42rem;
    background: url(/img/ico5.png) no-repeat center center;
    background-size: 0.42rem 0.42rem;
    cursor: pointer;
}
#header .nav_bar .logo {
    position: absolute;
    top: 0.72rem;
    right: 0.72rem;
    font-size: 0.29rem;
    cursor: pointer;
}
#header .navs {
    width: 50%;
    padding-left: 10%;
    float: left;
}
#header .navs .title {
    font-size: 0.26rem;
}
#header .navs .pages,#header .offices .pages {
    padding-top: 0.1rem;
}
#header .navs .pages li {
    list-style: none;
    font-size: 0.5rem;
    padding-top: 0.25rem;
    white-space: nowrap;
}
#header .navs .pages li a {
    color: #999;
}
#header .navs .pages li a:hover {
    color: #fff;
}
#header .offices {
    width: 50%;
    float: left;
}
#header .offices li {
    list-style: none;
    font-size: 0.26rem;
    padding-top: 0.10rem;
}
#header .offices .title {
    height: 0.41rem;
    line-height: 0.41rem;
    font-size: 0.18rem;
    background: url(/img/ico6.png) no-repeat left center;
    background-size: 0.31rem 0.41rem;
    padding-left: 0.4rem;    
}
#header .offices .pages {
    padding-left: 0.4rem;    
}

/*master-页面内容*/
#body {
    min-height: 9.68rem;
}

/*master-底部*/
#footer {
    background: #b81c22;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
#footer a {
    color: #fff;
}
#footer .link_bar {
    padding: 0.48rem 0.82rem;
    height: 0.63rem;
    line-height: 0.63rem;
}
#footer .link_bar .logo {
    display: inline-block;
}
#footer .link_bar .logo img {
    width: 0.77rem;
    height: 0.24rem;
}
#footer .link_bar .contact {
    display: inline-block;
    padding-left: 0.54rem;
}
#footer .link_bar .contact a {
    font-size: 0.28rem;
}
#footer .link_bar:after {
    content: '';
    display: table;
    clear: both;
}
#footer .link_bar .share_weibo, #footer .link_bar .share_weixin {
    width: 0.63rem;
    height: 0.63rem;
    float: right;
    background: url(/img/ico3.png) no-repeat center center;
    background-size: 0.63rem 0.63rem;
}
#footer .link_bar .share_weixin {
    background-image: url(/img/ico4.png);
    margin-left: 0.3rem;
}
#footer .right_info {
    padding: 1.1rem 0 0.73rem;
    text-align: center;
    font-size: 0.22rem;
}