@CHARSET "UTF-8";
html {
    font-size: 40px; 
}
@media only screen and (min-width: 768px){
    html {
        font-size: 40px; 
    }
}
@media only screen and (min-width: 1024px){
    html {
        font-size: 53.33px; 
    }
}
@media only screen and (min-width: 1280px){
    html {
        font-size: 71.15px; 
    }
}
@media only screen and (min-width: 1366px){
    html {
        font-size: 71.15px; 
    }
}
@media only screen and (min-width: 1440px){
    html {
        font-size: 75px; 
    }
}
@media only screen and (min-width: 1600px){
    html {
        font-size: 83.33px; 
    }
}
@media only screen and (min-width: 1680px){
    html {
        font-size: 87.5px; 
    }
}
@media only screen and (min-width: 1920px){
    html {
        font-size: 100px; 
    }
}

body {
    font-size: 14px;
}

#container {
    width: 100%;
}

/*master-头部*/
#header {
    width: 100%;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
}
#header .top_bar, #header .top_bar .ico_open, #header .top_bar .curr_page, #header .top_bar .logo {
    transition: all .5s; 
    -moz-transition: all .5s;
    -webkit-transition :all .5s;
    -o-transition: all .5s;
}
#header a {
    color: #fff;
}
#header .top_bar {
    height: 1.63rem;
    padding: 0 0.6rem 0 0.41rem;
}
#header .top_bar .ico_open {
    width: 0.81rem;
    height: 100%;
    float: left;
    background: url(/img/ico1.png) no-repeat left center;
    background-size: 0.81rem 0.81rem;
    cursor: pointer;
}
#header .top_bar .curr_page {
    padding-left: 0.55rem;
    height: 100%;
    line-height: 1.63rem;
    background: url(/img/ico2.png) no-repeat 0.17rem center;
    background-size: 0.24rem 0.24rem;
    float: left;
    font-size: 0.28rem;
    font-weight: 500;
    cursor: pointer;
}
#header .top_bar .logo {
    height: 100%;
    line-height: 1.63rem;
    float: right;
    font-size: 0.29rem;
}
#header.header_red_fixed+#body {
    margin-top: 1.12rem;
}
#header.header_red .top_bar {
    height: 1.12rem;
    background: #b81c22;
}

#header.header_red .top_bar .ico_open {
    -webkit-transform: scale(.64);
    transform: scale(.64);
    -webkit-transform-origin: right;
    transform-origin: right;
}
#header.header_red .top_bar .curr_page {
    line-height: 1.12rem;
}
#header.header_red .top_bar .logo {
    line-height: 1.12rem;
}
@media screen and (max-width: 414px){
    #header .top_bar {
        height: 1.43rem;
        padding: 0 0.6rem 0 0.31rem;
    }
    #header .top_bar .curr_page, #header .top_bar .logo {
        line-height: 1.43rem;
    }
}

#header .nav_bar {
    position: absolute;
    top: -10.8rem;
    left: 0;
    z-index: 100;
    opacity: 0;
    width: 100%;
    height: 10.8rem;
    padding-top: 1.4rem;
    background: #000;
    transition: top .5s, opacity 0.2s;
    -moz-transition: top .5s, opacity 0.2s;
    -webkit-transition: top .5s, opacity 0.2s;
    -o-transition: top .5s, opacity 0.2s;
    transition-timing-function: ease-in;
}
#header .nav_bar_show {
    top: 0;
    opacity: 1;
}
#header .nav_bar .ico_close {
    position: absolute;
    top: 0.6rem;
    left: 0.6rem;
    width: 0.42rem;
    height: 0.42rem;
    background: url(/img/ico5.png) no-repeat center center;
    background-size: 0.42rem 0.42rem;
    cursor: pointer;
}
#header .nav_bar .logo {
    position: absolute;
    top: 0.72rem;
    right: 0.72rem;
    font-size: 0.29rem;
    font-weight: 300;
    cursor: pointer;
}
#header .navs {
    width: 50%;
    padding-left: 10%;
    float: left;
    font-weight: 300;
}
#header .navs .title {
    font-size: 0.26rem;
}
#header .navs .pages,#header .offices .pages {
    padding-top: 0.1rem;
}
#header .navs .pages li {
    list-style: none;
    font-size: 0.5rem;
    padding-top: 0.2rem;
    white-space: nowrap;
}
#header .navs .pages li a {
    color: #999;
    transition: all .5s;
}
#header .navs .pages li a:hover {
    color: #fff;
}
#header .offices {
    width: 50%;
    float: left;
    font-weight: 300;
}
#header .offices li {
    list-style: none;
    font-size: 0.26rem;    
    padding-top: 0.10rem;
}
#header .offices .title {
    height: 0.41rem;
    line-height: 0.41rem;
    font-size: 0.18rem;
    background: url(/img/ico6.png) no-repeat left center;
    background-size: 0.31rem 0.41rem;
    padding-left: 0.4rem;    
}
#header .offices .pages {
    padding-left: 0.4rem;    
}

/*master-页面内容*/
#body {
    min-height: 9.68rem;
}

/*master-底部*/
#footer {
    background: #b81c22;
    color: #fff;
    position: relative;
}
#footer a {
    color: #fff;
    display: inline-block;
    height: 0.62rem;
    line-height: 0.62rem;
    font-size: 0.28rem;
}
#footer .links {
    position: absolute;
    left: 0.82rem;
    top: 0.39rem;
}
#footer .links .logo img {
    width: 0.77rem;
    height: 0.24rem;
    vertical-align: baseline;
}
#footer .links .contact {
    margin-left: 0.3rem;
}
#footer .jiathis_style_32x32 {
    position: absolute;
    right: 0.82rem;
    top: 0.39rem;
}
#footer .share_weibo, #footer .share_weixin {
    width: 0.62rem;
    background: url(/img/ico3.png) no-repeat center center;
    background-size: 0.62rem 0.62rem;
}
#footer .share_weixin {
    background-image: url(/img/ico4.png);
    margin-left: 0.3rem;
}
#footer .jiathis_style_32x32 a span {
    background: none;
}
#footer .right_info {
    width: 100%;
    height: 1.4rem;
    text-align: center;
    font-size: 0.14rem;
    font-weight: 300;
    line-height: 1.3;
}
#footer .right_info td {
    width: 100%;
    height: 100%;
    padding: 0 20px;
}
#footer .icp_info {
    font-size: 0.14rem;
    font-weight: 300;
    text-align: center;
    padding: 0 20px 0.5rem;
}

@media screen and (min-width: 1920px){
    #container {
        width: 1920px;
        margin: 0 auto;
    }
    #header .nav_bar {
        width: 1920px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1680px){
    #footer .right_info, #footer .icp_info {
        font-size: 12px;
    }
}
@media screen and (max-width: 768px){
    #footer .right_info td {
        padding-top: 1.4rem;
    }
    #footer .icp_info {
        padding-top: 0.2rem;
    }
}

#share_weixin_modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 380px;
    margin-left: -150px;
    margin-top: -190px;
    z-index: 10100;
    text-align: center;
    border: solid 1px #aaa;
    display: none;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
#share_weixin_modal.show {
    display: block;
}
#share_weixin_modal .close {
    position: absolute;
    right: 10px;
    top: 10px;               
}

/*有底部信息栏的图片区域*/
.c_img_bar {
    color: #fff;
    position: relative;
    display: block;
    overflow: hidden;
}
.c_img_bar .main_img {
    width: 100%;
}
.c_img_bar .bottom_info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.68rem;
}
.c_img_bar .bottom_bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .7;
}
.c_img_bar .bottom_info .logo {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 0.67rem;
    height: 0.67rem;
    line-height: 0.67rem;
    float: left;
    overflow: hidden;
}
.c_img_bar .bottom_info .logo img {
    width: 100%;
}
.c_img_bar .bottom_info .info {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.c_img_bar .bottom_info .info td {
    width: 100%;
    height: 100%;
    padding-left: 1.42rem;
}
.c_img_bar .bottom_info .name {
    font-size: 0.22rem;
    font-weight: 300;
}
.c_img_bar .bottom_info .title {
    font-size: 0.29rem;
    padding-top: 0.08rem;
    font-weight: 500;
}

/*3列图，标题居中*/
.c_img_bars a {
    color: #fff;
}
.c_img_bars .bar_item {
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
    width: 33.333%;
}
@media screen and (max-width: 768px){
    .c_img_bars .bar_item {
        width: 100%;
    }
}
.c_img_bars .bar_item img {
    width: 100%;
}
.c_img_bars .bar_item .title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.c_img_bars .bar_item .title td {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    font-size: 0.54rem;
    font-weight: 500;
    line-height: 0.7rem;
}
.c_img_bar .grey_layer, .c_img_bars .bar_item .grey_layer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    opacity: .5;
    transition: all .3s;
}
.c_img_bar:hover .grey_layer, .c_img_bars .bar_item:hover .grey_layer {
    opacity: 0;
}

/*顶部大图*/
.c_big_img {
    position: relative;
} 
.c_big_img img {
    width: 100%;
}
.c_big_img .text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
}
.c_big_img .text td {
    width: 100%;
    height: 100%;
    padding-top: 1.12rem;
}
.c_big_img .text1, .c_big_img .text2 {
    font-weight: bold;
}
@media screen and (min-width: 320px){
    .c_big_img .text td {
        padding-left: 0.5rem;
    }
    .c_big_img .text1 {
        font-size: 0.35rem;
    }
    .c_big_img .text2 {
        font-size: 0.3rem;
    }
}
@media screen and (min-width: 375px){
    .c_big_img .text td {
        padding-left: 0.6rem;
    }
    .c_big_img .text1 {
        font-size: 0.4rem;
    }
    .c_big_img .text2 {
        font-size: 0.35rem;
    }
}
@media screen and (min-width: 414px){
    .c_big_img .text td {
        padding-left: 0.5rem;
    }
    .c_big_img .text1 {
        font-size: 0.5rem;
    }
    .c_big_img .text2 {
        font-size: 0.4rem;
    }
}
@media screen and (min-width: 768px){
    .c_big_img .text td {
        padding-left: 1.8rem;
    }
    .c_big_img .text1 {
        font-size: 1rem;
    }
    .c_big_img .text2 {
        font-size: 0.6rem;
    }
}

/*链接图标*/
.c_link_ico {
    width: 0.28rem;
    height: 0.26rem;
    vertical-align: middle;
}

/*富文本显示框*/
.c_text_bar {
    width: 9.6rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 1.5rem 0;
}
.c_text_bar img {
    max-width: 100%;
    text-align: center;
}
.c_text_bar iframe {
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
@media screen and (max-width: 768px){
    .c_text_bar {
        width: 100%;
        padding: 1.5rem 1rem;
    }
}

/*上一个、下一个*/
.c_next,.c_prev  {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -0.5rem;
    width: 1.03rem !important;
    height: 1.03rem !important;
    display: block;
    background-image: url(/img/ico7.png) !important;
    background-size: 1.03rem 1.03rem !important;
}
.c_prev {
    left: 10px;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);	
}

/*缩放效果*/
.c_zoom .c_zoom_content, .c_zoom_full, .c_zoom_text {
    transition: all .3s;
}
.c_zoom_text2 {
    transition: all .1s;
}
.c_zoom:hover .c_zoom_content {
	-webkit-transform: scale(1.1) translate(5px,5px);
	transform: scale(1.1) translate(5px,5px);
}
.c_zoom_full:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.c_zoom_text:hover {
    font-size: 110%;
}
.c_zoom_text2:hover {
    font-size: 140%;
}