@CHARSET "UTF-8";

.img_bars a {
    color: #fff;
}
.img_bars .bar_item {
    float: left;
}
.img_bars .size1, .img_bars .size2 {
    width: 33.333%;
}
.img_bars .size3 {
    width: 100%;
}
.img_bars .only_text {
    padding: 0.85rem 0.62rem;
}
@media screen and (max-width: 768px){
    .img_bars .size1, .img_bars .size2 {
        width: 100%;
    }
    .img_bars .only_text {
        height: auto !important;
    }
}
.img_bars .bar_item_4 {
    background: #919191;
}
.img_bars .bar_item_5 {
    background: #b81c22;
}
.img_bars .bar_item .text_title {
    font-size: 0.32rem;
    font-weight: 500;
}
.img_bars .bar_item .text_desc {
    font-size: 0.5rem;
    padding-top: 0.35rem;
    font-weight: 300;
}

