@CHARSET "UTF-8";

.news_list {
    padding-top: 4px;
}
.news_item {
    border-bottom: solid 1px #000;
    padding: 0.7rem 4.8rem;
    color: #fff;
    display: block;
}
.news_item .date {
    font-size: 0.24rem;
}
.news_item .title {
    padding-top: 0.42rem;
    font-size: 0.44rem;
}
.news_item .summary {
    padding-top: 0.25rem;
    font-size: 0.18rem;
}
.news_list .color1 {
    color: #000;
    background: #fff;
}
.news_list a.color1:hover {
    color: #555 !important;
}
.news_list .color1 .summary  {
    color: #555;
}
.news_list .color2, .news_list .color5 {
    color: #fff;
    background: #bfbfbf;
}
.news_list a.color2:hover, .news_list a.color5:hover {
    color: #222 !important;
}
.news_list .color3 {
    color: #fff;
    background: #b81c22;
}
.news_list .color4 {
    color: #fff;
    background: #000;
}
@media screen and (max-width: 768px){
    .news_item {
        padding: 0.7rem 1rem;
    }
    .news_item .date,.news_item .summary {
        font-size: 0.32rem;
    }
}

.c_pager_bar {
    margin-top: 20px;
    text-align: center;
}