@CHARSET "UTF-8";

.c_page_body {
    padding-top: 20px;
}
.c_detail_close {
    width: 42px;
    height: 32px;
    cursor: pointer;
    background: url(../img/close_btn.png) no-repeat center center;
}
.c_data_filter {
    padding-bottom: 10px;
}
table.c_tbl img {
    max-width: 60px;
    max-height: 60px;
}

.fileinput .fileinput-preview {
    display: table-cell !important;
    box-sizing: content-box;
}
.fileinput-preview-size1 {
    width: 192px;
    height: 92px;
    line-height: 92px;
}

.fileinput-preview-size2 {
    width: 128px; 
    height: 184px; 
    line-height: 194px;
}

.fileinput-preview-size3 {
    width: 67px; 
    height: 67px; 
    line-height: 67px;
}

.fileinput-preview-size4 {
    width: 180px; 
    height: 180px; 
    line-height: 180px;
}


