@CHARSET "UTF-8";

.c_page_body {
    padding-top: 20px;
}
.c_detail_close {
    width: 42px;
    height: 32px;
    cursor: pointer;
    background: url(../img/close_btn.png) no-repeat center center;
}
.c_data_filter {
    padding-bottom: 10px;
}
table.c_tbl img {
    max-width: 60px;
    max-height: 60px;
}

.fileinput-preview-size1 {
    box-sizing: content-box;
    width: 192px;
    height: 92px;
    line-height: 92px;
}
