{extends file='admin/master.html'} {block name='title'}首页配置{/block} {block name='head'}
<link href="/frame/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
<link href="css/p_index_config.css" rel="stylesheet" type="text/css" />
{/block} {block name='body'}
    <div class="col-md-6">
        <div class="form-horizontal" role="form" id="form">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label"><i>*</i> 区域</label>
                    <div class="col-md-9">
                        <select class="form-control" name="id">
                            <option value="">< 请选择 ></option>
                            {foreach $data as $item}
                            <option value="{$item['id']}">{$item['id']}号区域</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="form-group hide" id="div_img">
                    <label class="col-md-3 control-label"><i>*</i> 图片</label>
                    <div class="col-md-9">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-preview thumbnail" data-trigger="fileinput"></div>
                            <div>
                                <span class="btn default btn-sm btn-file">
                                    <span class="fileinput-new"> 选择图片 </span>
                                    <span class="fileinput-exists"> 更换 </span>
                                    <input type="file" name="img" accept="image/*" is_img="1"/>
                                </span>
                                <a href="javascript:;" class="btn default btn-sm fileinput-exists" data-dismiss="fileinput"> 移除 </a>
                            </div>
                        </div>
                        <div>上传图片尺寸：<span class="img_size">640*1080</span></div>
                    </div>
                </div>
                <div class="form-group hide" id="div_logo">
                    <label class="col-md-3 control-label"><i>*</i> LOGO</label>
                    <div class="col-md-9">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 67px; height: 67px; line-height: 67px;"></div>
                            <div>
                                <span class="btn default btn-sm btn-file">
                                    <span class="fileinput-new"> 选择图片 </span>
                                    <span class="fileinput-exists"> 更换 </span>
                                    <input type="file" name="logo" accept="image/*" is_img="1"/>
                                </span>
                                <a href="javascript:;" class="btn default btn-sm fileinput-exists" data-dismiss="fileinput"> 移除 </a>
                            </div>
                        </div>
                        <div>上传图片尺寸：67*67</div>
                    </div>
                </div>
                <div class="form-group hide" id="div_name">
                    <label class="col-md-3 control-label"><i>*</i> 名称</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="name" maxlength="16"/>
                    </div>
                </div>
                <div class="form-group hide" id="div_title">
                    <label class="col-md-3 control-label"><i>*</i> 标题</label>
                    <div class="col-md-9">
                        <textarea class="form-control" rows="2" name="title" maxlength="32"></textarea>
                    </div>
                </div>
                <div class="form-group hide" id="div_link">
                    <label class="col-md-3 control-label"><i>*</i> 链接</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="link" maxlength="64"/>
                    </div>
                </div>
                <div class="form-group hide" id="div_desc">
                    <label class="col-md-3 control-label"><i>*</i> 描述</label>
                    <div class="col-md-9">
                        <textarea class="form-control" rows="3" name="desc" maxlength="64"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn green col-md-3" id="btn_submit">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block} 
{block name='foot'}
<script src="/frame/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>>
<script src="js/p_index_config.js?v={$version}"></script>
{/block}