{extends file='master.html'} {block name='head'}
<link type="text/css" rel="stylesheet" href="/css/p_clients.css?v={$version}}">
{/block} {block name='body'}

<div class="list_bar">
    {foreach $categorys as $category}
    <div class="category">
        <div class="name">{$category['name']}</div>
        <div class="items c_clear">
            {foreach $category['items'] as  $i => $item}
            <div class="item {if ($i+1)%5==1}line_first{/if}"><img src="/upload/client_img/{$item['logo']}" title="{$item['name']}"/></div>
            {/foreach}
        </div>
    </div>
    {/foreach}
</div>

{/block} 
{block name='foot'}
{/block}