{extends file='master.html'}
{block name='head'}
{$header_red_fixed=true}
<style type="text/css">
.error_box {
    width: 6.4rem;
    margin: 0 auto;
    padding-top: 2rem;
    color: #222;
}
.error_box .info {
    font-size: 0.3rem;
    text-align: center;
}
.error_box .detail {
    padding-top: 0.2rem;
    font-size: 0.24rem;
}
</style>
{/block}

{block name='body'}
    <div class="error_box">
        <div class="info">{$result['msg']}</div>
        {if isset($result['error'])}
            <div class="detail">{json_encode($result['error'])}</div>
        {/if}
    </div>
{/block} 