<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="shortcut icon" href="/img/fav.png" />
<title>服务端出现异常</title>
<link type="text/css" rel="stylesheet" href="/css/global.css?v={$version}" />{block name='head'}{/block}
</head>
<body>
{$result['stat']}.{$result['msg']}
<br/>
{if isset($result['error'])}
<div>{json_encode($result['error'])}</div>
{/if}
</body>
</html>