{extends file='master.html'}  {block name='head'}
<link type="text/css" rel="stylesheet" href="/css/p_index.css?v={$version}}">
{/block} {block name='body'}

<div class="c_big_img">
    <img src="/upload/big_img/{$big_img['img']}"/>
    <div class="text">
        <div class="text1">{{$big_img['text1']}}</div>
        <div class="text2">{{$big_img['text2']}}</div>
    </div>
</div>

<div class="c_text_bar">
    {$text}
</div>
<div class="img_bars c_clear">
    {foreach $index_configs as $id => $config}
    <a class="bar_item c_img_bar {$config['size']} {$config['only_text']} bar_item_{$id}" href="{$config['link']}">
        {if $config['only_text'] == 'only_text'}
            <div class="text_title">{$config['title']}&nbsp;&nbsp;<img class="c_link_ico" src="/img/ico8.png"/></div>
            <div class="text_desc">{$config['desc']}</div>
        {else}
            <img class="main_img" src="/upload/index_img/{$config['img']}"/>
            <div class="bottom_info c_clear">
                <div class="bottom_bg"></div>
                <div class="logo"><img src="/upload/index_img/{$config['logo']}"/></div>
                <div class="info">
                    <div class="name">{$config['name']}</div>
                    <div class="title">{$config['title']}&nbsp;&nbsp;<img class="c_link_ico" src="/img/ico8.png"/></div>
                </div>
            </div>
        {/if}
    </a>
    {/foreach}

</div>
{/block} 
{block name='foot'}
<script src="/js/common.js"></script>
<script>
    $(function() {
        $('.img_bars .size1').init_img_height(3, 0.5926);
        $('.img_bars .size2').init_img_height(3, 1.1852);   
        $(window).resize(function(){
            $('.img_bars .size1').init_img_height(3, 0.5926);
            $('.img_bars .size2').init_img_height(3, 1.1852);   
        });
    });
</script>
{/block}