<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="shortcut icon" href="/img/fav.png" />
<title>{$page_name}-科翼传媒</title>
{block name='frame_head'}{/block}
<link type="text/css" rel="stylesheet" href="/css/global.css?v={$version}" />
<link type="text/css" rel="stylesheet" href="/css/master.css?v={$version}" />
{block name='head'}{/block}
</head>
<body>
<div id="container">
<div id="header" {if $header_red_fixed}class="header_red header_red_fixed"{/if}>
    <div class="top_bar c_clear">
        <div class="ico_open c_vcenter"></div>
        <div class="curr_page c_vcenter">{$page_name}</div>
        <div class="logo c_vcenter"><a href="/index.html" class="c_zoom_text">KEYIMEDIA</a></div>
    </div>
    <div class="nav_bar">
        <div class="ico_close"></div>
        <div class="logo"><a href="/index.html" class="c_zoom_text">KEYIMEDIA</a></div>
        <div class="navs">
            <div class="title">NAVIGATION</div>
            <ul class="pages">
                <li><a href="/index.html" class="c_zoom_text">HOME</a></li>
                <li><a href="/work_index.html" class="c_zoom_text">WORK</a></li>
                <li><a href="/service.html" class="c_zoom_text">SERVICE</a></li>    
                <li><a href="/news_list.html" class="c_zoom_text">NEWS</a></li>
                <li><a href="/clients.html" class="c_zoom_text">CLIENTS</a></li>
                <li><a href="/awards.html" class="c_zoom_text">AWARDS</a></li>
                <li><a href="/recruit.html" class="c_zoom_text">RECRUIT</a></li>
                <li><a href="/contact_us.html" class="c_zoom_text">CONTACT US</a></li>
            </ul>
        </div>
        <div class="offices">
            <div class="title">OUR OFFICES</div>
            <ul class="pages">
                <li><a href="javascript:;" class="c_zoom_text">SHANGHAI</a></li>
                <li><a href="javascript:;" class="c_zoom_text">BEIJING</a></li>
                <li><a href="javascript:;" class="c_zoom_text">GUANGZHOU</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="body">
{block name='body'}{/block}
</div>

<div id="footer">
    <div class="link_bar c_clear">
        <div class="links">
            <a class="logo c_zoom_full" href="/index.html"><img src="/img/logo.png"/></a><a class="contact c_zoom_full" href="/contact_us.html">CONTACT US</a>
        </div>
        <div class="jiathis_style_32x32">
            <a class="jiathis_button_tsina share_weibo c_zoom_full"></a><a class="jiathis_button_weixin share_weixin c_zoom_full"></a>
        </div>
    </div>
    <div class="right_info">
        © 2017 KEYIMEDIA AGENCY CO.,LTD. ALL RIGHTS RESERVED
    </div>
</div>
</div>


<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/utils.js?v={$version}"></script>
<script src="/js/validate.js?v={$version}"></script>
<script>
    $('#header .nav_bar .ico_close').click(function(){
        $('#header .nav_bar').removeClass('nav_bar_show');
    });
    $('#header .top_bar .ico_open,#header .top_bar .curr_page').click(function(){
        $('#header .nav_bar').addClass('nav_bar_show');
    });

    var header = $('#header');
        if (!header.hasClass('header_red')) {
        $(window).scroll(function() {
            var wt = $(window).scrollTop();
            header.toggleClass('header_red', wt >= 10);
        });
    }
</script>
{block name='foot'}{/block}
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<script>
    var jiathis_config1 = {
        title: "科翼传媒",
        summary: "分享的文本摘要",
        pic: "http://localhost/upload/big_img/1_img_1513407593.jpg"
    };
</script>
</body>
</html>