<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="shortcut icon" href="/img/fav.png" />
<title>{block name='title'}{/block}</title>
<link type="text/css" rel="stylesheet" href="/css/global.css?v={$version}" />{block name='head'}{/block}
</head>
<body>
<div id="header">
    <div class="top_bar">
        <div class="ico_switch open"></div>
        <div class="curr_page"></div>
        <div class="logo">KEYIMEDIA</div>
    </div>
    <div class="nav_bar">
        <div class="navs">
            <div class="title">NAVIGATION</div>
            <ul class="pages">
                <li><a href="/index.html">HOME</a></li>
                <li><a href="/wrok_index.html">WORK</a></li>
                <li><a href="/service.html">SERVICE</a></li>    
                <li><a href="/news.html">NEWS</a></li>
                <li><a href="/clients.html">CLIENTS</a></li>
                <li><a href="/awards.html">AWARDS</a></li>
                <li><a href="/recruit.html">RECRUIT</a></li>
                <li><a href="/contact_us.html">CONTACT US</a></li>
            </ul>
        </div>
        <div class="offices">
            <div class="title">OUR OFFICES</div>
            <ul class="pages">
                <li><a href="javascript:;">SHANGHAI</a></li>
                <li><a href="javascript:;">BEIJING</a></li>
                <li><a href="javascript:;">GUANGZHOU</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="body">
{block name='body'}{/block}
<div>

<div id="footer">
    <div class="link_bar">
        <div class="logo"></div>
        <div class="contact">CONTACT US</div>
        <div class="share">
            <div class="weibo"></div>
            <div class="weixin"></div>
        </div>
    </div>
    <div class="right_info">
        © 2017 KEYIMEDIA AGENCY CO.,LTD. ALL RIGHTS RESERVED
    </div>
</div>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/utils.js?v={$version}"></script>
{block name='foot'}{/block}
</body>
</html>