{extends file='master.html'}

{block name='frame_head'}
<link href="/frame/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/frame/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/frame/global/css/components.min.css" rel="stylesheet" type="text/css">
{/block}
{block name='head'}
<link href="/plugins/datatbl/css/pager.css?v={$version}" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="/css/p_news_list.css?v={$version}">
{/block}

 {block name='body'}
 <div class="c_big_img">
    <img src="/upload/big_img/{$big_img['img']}"/>
    <table class="text">
        <tr><td>
            <span class="text1">{$big_img['text1']}</span>
            <br/>
            <span class="text2">{$big_img['text2']}</span>
        </td></tr>
    </table>
</div>

<div id="news_list" class="news_list">
    
</div>
<div class="c_pager_bar clearfix">
    <span class="c_pager"></span>
</div>
{/block} 
{block name='foot'}
<script src="/plugins/datatbl/js/pager.js?v={$version}"></script>
<script src="/js/p_news_list.js?v={$version}"></script>
{/block}