{extends file='master.html'}
{block name='head'}
<link type="text/css" rel="stylesheet" href="/css/p_videos.css?v={$version}">
{/block}

 {block name='body'}
 <div class="c_big_img">
    <img src="/upload/big_img/{$big_img['img']}"/>
    <table class="text">
        <tr><td>
            <span class="text1">{$big_img['text1']}</span>
            <br/>
            <span class="text2">{$big_img['text2']}</span>
        </td></tr>
    </table>
</div>

<div id="p_vedios">
    <div id="video_list" class="video_list">
        <ul class="tabs c_clear">
            {foreach $categorys as $k => $category}
                <li class="tab_item {if $k == 0}curr{/if}" category_id="{$category['id']}">{$category['name']}</li>
            {/foreach}
        </ul>
        <div class="tab_contents">
            {foreach $categorys as $k => $category}
                <div class="tab_content c_clear {if $k == 0}curr{/if}" category_id="{$category['id']}">
                    {if count($category['videos'])}
                        {foreach $category['videos'] as $video}
                            <div class="video_item">
                                <div class="video">
                                    <video src="/upload/video/{$video['video']}" preload="false"  controls="controls" preload="metadata"></video>
                                </div>
                                <div class="ico"><img src="/img/ico9.png"/></div>
                                <div class="title">{$video['title']}</div>
                                <div class="summary">{$video['summary']}</div>
                            </div>
                        {/foreach}
                    {else}
                        <div class="no_videos">暂无视频</div>
                    {/if}
                </div>
            {/foreach}
        </div>
    </div>
</div>
{/block} 
{block name='foot'}
<script src="/js/p_videos.js?v={$version}"></script>
<script>
    function setVideoSize() {
        var ww = $(window).width();
        var w = $('.video').width();
        var radio = 1.777777777777778;
        var h = w / radio;
        $('.video').css('height', h + 'px');
        $('video').attr('width', w);
        $('video').attr('height', h);
    }
    setVideoSize();
</script>
<script src="/plugins/html5media/html5media.min.js"></script>
{/block}